

body {
    background-image: linear-gradient(black, rgb(44, 1, 1),black);
    height: 10px;
    color: rgb(185, 185, 185);
    display: flex;
    gap: 200px;
    zoom: 105%;
    margin: 10px;
    
}